.idea/
pycache/
*.py[cod]
*$py.class
.venv/
.venv1/
.venv_dev/
venv/
env/
4321/
12512/
mian/
mian1/
MAIN.py
number.py
test.py
test_sample.wav
test_sample_bad.wav
ЮЛЬКА_medium_result.txt
models/
*.pt
*.bin
*.pth
*.wav
*.mp3
*.json
.dockerignore
Dockerfile